/VPN_BOT.zip
/tests

# Игнорирование виртуальных окружений
venv/
.venv/

# Игнорирование файлов окружения
*.env

logs/bot.log

# Игнорируем файлы настроек IDE
.idea/

# Игнорируем скомпилированные файлы Python
__pycache__/
*.pyc

# Игнорируем архивы и логи
*.zip
logs/*.log
